PORT=5001

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<database>?retryWrites=true&w=majority

STREAM_API_KEY=your_stream_api_key_here
STREAM_API_SECRET=your_stream_api_secret_here

JWT_SECRET_KEY=your_jwt_secret_key_here

NODE_ENV=production
