@import "tailwindcss";
@import "stream-chat-react/dist/css/v2/index.css";
@plugin "daisyui" {
  themes: all;
}
.str-chat {
  --str-chat__border-radius-circle: 6px;
}
.str-chat__theme-light {
  --str-chat__primary-color: #009688;
  --str-chat__active-primary-color: #004d40;
  --str-chat__surface-color: #f5f5f5;
  --str-chat__secondary-surface-color: #fafafa;
  --str-chat__primary-surface-color: #e0f2f1;
  --str-chat__primary-surface-color-low-emphasis: #edf7f7;
  --str-chat__avatar-background-color: #bf360c;
}
.str-chat__theme-dark {
  --str-chat__primary-color: #26a69a;
  --str-chat__active-primary-color: #00796b;
  --str-chat__surface-color: #424242;
  --str-chat__secondary-surface-color: #212121;
  --str-chat__primary-surface-color: #00695c;
  --str-chat__primary-surface-color-low-emphasis: #004d40;
  --str-chat__avatar-background-color: #ff7043;
}
.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}