@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* .str-chat{
  --str-chat__spacing-2
} */

/* 
/* Overrides personalizados */
.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  max-block-size: 70svh;
  margin-block: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(73, 69, 69, 0.15);
  /* overflow: hidden;   */
}
.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}
/* .str-chat__channel-header{
 padding-block: 1.5em;

} */
/* 

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}  */